.winnerSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  width: 100%;
}

.imgContainer {
  flex: 1;
  display: flex;
}

.imgContainer img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.winnerText {
  display: flex;
  flex-direction: column;
}

.textEnd {
  text-align: end;
}

.textStart {
  text-align: start;
}

.winnerText h1 {
  font-size: 5rem;
  line-height: 1;
  margin: 0;
}

.winnerText h2 {
  padding: 4px 4px;
  font-size: 2rem;
  margin: 0;
}

.descriptionText {
  flex: 1
}

.topText {
  color: blanchedalmond;
  font-size: 1.5rem;
  padding-left: 4px;
  padding-right: 4px;
  margin: 0;
}

.spreadCardButton {
  width: 100%;
  cursor: pointer;
  padding: 1rem 0;
}