.winnerSection {
  display: flex;
  gap: 4rem
}

.imgContainer {
  width: 50%;
  flex: 1
}

.imgContainer img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.winnerText {
  display: block;
  flex: 1;
  /* text-align: end */
}

.textEnd {
  text-align: end;
}

.textStart {
  text-align: start;
}

.winnerText h1 {
  font-size: 5rem;
  margin: 0;
}

.winnerText h2 {
  font-size: 2rem;
  margin: 0;
}

.spreadCardButton {
  width: 100%;
  cursor: pointer;
  padding: 1rem 0;
}