.winnerSection {
  display: flex;
  gap: 4rem
}

.imgContainer {
  width: 50%;
  flex: 1
}

.imgContainer img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.winnerText {
  display: block;
  text-align: center;
  flex: 1;
  text-align: end
}

.winnerText h1 {
  font-size: 4rem;
  margin-bottom: 0;
}

.winnerText h2 {
  font-size: 2rem;
  margin: 0;
}

